{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4">
    <h1 class="text-2xl font-semibold mb-4">Clients List</h1>
    <div class="overflow-x-auto">
        <table class="table table-zebra">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Reg-ID</th>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Edit</th>
                    <th>View</th>
                </tr>
            </thead>
            {% for cl in clients %}
            <tbody>
                <tr class="hover:bg-base-200">
                    <th>{{ forloop.counter }}</th>
                    <td>{{ cl.registration_number }}</td>
                    <td>{{ cl.full_name }}</td>
                    <td>{% if cl.gender == "M" %}Male{% else %}Female{% endif %}</td>
                    <td><a href="{% url 'clients:client-update' cl.id %}" class="btn btn-primary btn-sm">Edit</a></td>
                    <td><a href="{% url 'clients:client-detail' cl.id %}" class="btn btn-primary btn-sm">View</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}