<div>
    <table class="table table-zebra w-full">
        <thead>
            <tr>
                <th>Date Done</th>
                <th>Investigation Type</th>
                <th class="text-right">Value</th>
                <th class="text-right">Unit</th>
            </tr>
        </thead>
        <tbody>
            {% for investigation in investigations %}
            <tr>
                <td class="font-mono">{{ investigation.date_done|date:"Y-m-d" }}</td>
                <td>{{ investigation.investigation_type }}</td>
                <td class="font-mono text-right">{{ investigation.value }}</td>
                <td class="font-mono text-right">{{ investigation.investigation_type.unit }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No investigations found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>