{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4">
    <p>Registration No: {{client.registration_number}}</p>
    <h1>Client Name: {{client.full_name}}</h1>
    <p>Gender: {% if client.gender == "M" %}Male{% else %}Female{% endif %}</p>
    <p>Date of birth: {{client.date_of_birth}}</p>
    <p>Age: {{client.age}}</p>
    <p>Total Age: {{client.age_string}}</p>
    <div class="tabs tabs-lift mt-4">
        <input type="radio" name="my_tabs_3" class="tab" aria-label="admissions" checked="checked" />
        <div id="admissions" class="tab-content bg-base-100 border-base-300 p-6" hx-trigger="load"
            hx-get="{% url 'clients:client-admission-list' client.pk %}" hx-target="#admissions" hx-swap="innerHTML">
            Loading...
        </div>

        <input type="radio" name="my_tabs_3" class="tab" aria-label="Transfusions" />
        <div id="transfusions" class="tab-content bg-base-100 border-base-300 p-6" hx-trigger="load"
            hx-get="{% url 'clients:client-transfusion-list' client.pk %}" hx-target="#transfusions"
            hx-swap="innerHTML">
            Loading...
        </div>

        <input type="radio" name="my_tabs_3" class="tab" aria-label="Investigations" />
        <div class="tab-content bg-base-100 border-base-300 p-6">Tab content 3</div>
    </div>
    <a href="{% url 'clients:client-list' %}" class="btn btn-primary btn-sm"><i class="fa fa-list">⏪</i> View All
        clients
    </a>
    {% endblock content %}