{% load static %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ThalDB{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <!-- Alpine.js (CDN) -->
       <script src="{% static 'js/alpine.js' %}" defer></script>
       <script src="{% static 'js/htmx.js' %}" defer></script>
  </head>

  <body class="min-h-screen bg-base-300" x-data="{ theme: 'light' }" :data-theme="theme">

    {% block content %} {% endblock %}

  </body>
</html>
